<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">

<div layout:fragment="content">

    <div class="container">

        <h2>게시글 등록</h2>
        <form method="post" action="/board/insertBoard">
            <div class="mb-3">
                <label th:for="title" class="form-label">Title:</label>
                <input type="text" th:id="title" class="form-control" th:name="title">
            </div>

            <div class="mb-3">
                <label th:for="writer" class="form-label">Writer:</label>
                <input type="text" th:id="writer" class="form-control" th:value="*{email}" readonly>
            </div>

            <div class="mb-3">
                <label th:for="content" class="form-label">Content:</label><br>
                <textarea class="form-control" th:id="content" rows="3" th:name="content"></textarea>
            </div>

            <input type="submit" value="Submit">
        </form>

    </div>

</div>


</html>